/*.*******************logo**************/

.logo {
    height: 3.25rem;
    margin-left: 2rem;

}

/*********Search***********/

.search {

    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-smallest){
        order: 1;
        flex: 0 0 100%;
        background-color: var(--color-gray-light-2);
    }

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-gray-light-2);
        width: 90%;
        border: none;
        border-radius: 100px;
        margin-right: -3.25rem;
        padding: .7rem 2rem;
        outline: none;
        transition: all .2s;

        &:focus {
            width: 100%;
            background-color: var(--color-gray-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-gray-light-4);
            ;
        }
    }

    &__input:focus+&__button {
        background-color: var(--color-gray-light-2);
    }

    &__button {
        border: none;
        color: var(--color-gray-dark-2);
        background-color: var(--color-gray-light-2);
        outline: none;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translate(2px);
        }

    }

    &__icon {
        color: var(--color-gray-light-2);

    }
}

/********navitems*********/

.user-nav {
    display: flex;
    align-self: stretch;
    align-items: center;


    &>* {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &>*:hover {
        background-color: var(--color-gray-light-2);
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        font-size: 20px;
        color: var(--color-gray-dark-2);
        display: flex;


    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;

        position: absolute;
        top: 1.5rem;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 100px;
        margin-right: 1rem;

    }

}

/*.******************* side nav bar **************/

.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    @media only screen and (max-width: $bp-medium) {
       display: flex;
       margin: 0;
   }


    &__item {
        // margin: 2rem 0 0 3rem;
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;

            @media only screen and (max-width: $bp-medium) {
               margin: 0;
           }
        }
        @media only screen and (max-width: $bp-medium) {
          flex: 1;
       }
    }

    &__item::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 3px;
        height: 100%;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform 2s,
            width .3s cubic-bezier(1, 0, 0, 1) .2s,
            background-color .1s;

    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-primary-light-1);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-gray-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
            justify-content: center;
            padding: 2rem;
        }
        @media only screen and (max-width: $bp-small) {
           flex-direction: column;
           padding: 1.5rem .5rem;
        } 

        &-span {
            color: #fff;
        }

    }

    &__icon {
        width: 1.7rem;
        height: 1.7rem;
        margin-right: 2rem;
        color: #fff;

        @media only screen and (max-width: $bp-small) {
           margin-right: 0;
           margin-bottom: .7rem;
           width: 1.5rem;
           height: 1.5rem;
        } 

    }
}


/*.******************* legal **************/
.legal {
    font-size: 1.6rem;
    color: var(--color-gray-light-4);
    text-align: center;
    padding: 2.5rem;

    @media only screen and (max-width: $bp-largest) {
       display: none;
   }
}

/*.****************** gallery **************/

.gallery{
    display:flex;
  
    &__photo{
        width:100%;
        display:block;
    }
}

.overview{
   display: flex;
   border-bottom: 1px solid var(--color-gray-light-1);
   align-items: center;
   background-color: #fff;
    &__heading{
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;


    }
    &__stars{
        display: flex;
        // flex: 1;
        margin-right: auto;
        
        

    }
    &__icon-star,
    &__icon-location{
        width: 1.75rem;
        height: 1.7rem;
        color: var(--color-primary);

    }
    &__location{
        display: flex;
        font-size: 1.2rem;
        vertical-align: center;
    }
    &__icon-location{
        margin-right: .5rem;
    }
    
    &__rating{
        background-color: var(--color-primary);
        color: #fff;
        margin-left: 3rem;
        align-self: stretch;
        padding: 0 2.25rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
         
        @media only screen and (max-width: $bp-small) {
            padding: 0 1.5rem;
        }
      
        

    }
    &__rating-average{
        font-size: 2.25rem;
        font-weight: 300;

          
        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
        }

    }
    &__rating-count{
        font-size: .8rem;
        text-transform: uppercase;

          
        @media only screen and (max-width: $bp-small) {
            font-size: .5rem;
        }

    }
}
.btn-inline{
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom:1px solid currentColor ;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
    outline: none;

    & span{
        margin-left: 3px;
        transition:  margin-left .2s;
    }

    &:hover{
        color: var(--color-gray-dark-1);

        span{
            margin-left: 8px;
        }
    }

    &:focus{
        outline: none;
        animation: pulsate 1s infinite;
    }
}
@keyframes pulsate{
    0%{
        transform: scale(1);
        box-shadow: none;

    }
    50%{
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    }
    100%{
        transform: scale(1);
        box-shadow: none;
    }
}

/*********************8 paragraph *************************/
.paragraph:not(:last-of-type){
    margin-bottom: 2rem;

}

/********************* list  *************************/
.list{
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex;
    flex-wrap: wrap;

    &__item{
        flex: 0 0 50%;
        margin-bottom: .7rem;
    }
    &__item::before{
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: .7rem;

        background-color: var(--color-primary);
        -webkit-background-clip: text;
    }
}

/********************* Recommend  ***************************/

.recommend{
    font-size: 1.3rem;
    color: var(--color-gray-dark-3);
    display: flex;
    align-items: center;

    &__count{
       margin-right: auto;
    }
    &__friends{
        display: flex;
    }

    &__photo{
        box-sizing: content-box;
        border: 3px solid white;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        &:not(:last-child){
            margin-right: -2rem;
        }
    }
}

/********************* reviews  ***************************/

.review{
     background-color: #fff;
     box-shadow: var(--shadow-light);
     padding: 3rem;
     margin-bottom: 3.5rem;
     position: relative;
     overflow: hidden;

      
     @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-bottom:3rem ;
    } 

    &__text{
        margin-bottom: 2rem;
        z-index: 10;
        position: relative;

    }
    &__user{
        display: flex;
        align-items: center;
    }
    &__photo{
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;

    }
    &__user-box{
        margin-right: auto;

    }
    &__usaer-name{
        font-weight: 600;
        font-size: 1.1rem;
        text-transform: uppercase;
        margin-bottom: .4rem;

    }
    &__user-date{
      font-size: 1rem;
      color: var(--color-gray-dark-3);
    }
    &__rating{
        color: var(--color-primary);
        font-size: 2.2rem;
        font-weight: 300;
    }
    &::before{
        content: "\201c";
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        line-height: 1;
        font-size: 20rem;
        color: var(--color-gray-light-2);
        font-family: sans-serif;
        z-index: 1;
    }
}

/******************** cta  *************************/

.cta{
    padding: 3.5rem 0;
    text-align: center;

      
    @media only screen and (max-width: $bp-medium) {
        padding: 2.5rem 0;
        
    } 

    &__book-now{
         font-size: 2rem;
         font-weight: 300;
         text-transform: uppercase;
         margin-bottom: 2.5rem;
    }
}

.btn{
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border:none;
    background-image: linear-gradient(to right, var(--color-primary-light),var(--color-primary-dark));
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    & > *{
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all .2s;
    }

    &__visible{
        
        padding: 2rem 7.5rem;

    }
    &__invisible{
       
        position: absolute;
        padding:2rem 0;
      
        left:0;
        top: -100;
    }

    &:hover {
        background-image: linear-gradient(to left, var(--color-primary-light),var(--color-primary-dark));
    }

    &:hover &__visible{
        transform: translateY(100%);

    }

    &:hover  &__invisible{
     top: 0;
        
    }
    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}
