/*
primary:#eb2f64;
primary light: #FF3366;
primary dark: #BA265D;

gray light 1:#faf9f9;
gray light 2:#f4f2f2;
gray light 3:#f0eeee;
gray light 4:#ccc;

gray dark 1:#333;
gray dark 1:#777;
gray dark 1:#999;


*/
:root {
  --color-primary:#eb2f64;
  --color-primary-light:#FF3366;
  --color-primary-dark:#BA265D;
  --color-gray-light-1:#faf9f9;
  --color-gray-light-2:#f4f2f2;
  --color-gray-light-3:#f0eeee;
  --color-gray-light-4:#ccc;
  --color-gray-dark-1:#333;
  --color-gray-dark-2:#777;
  --color-gray-dark-3:#999;
  --shadow-dark:0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light:0 2rem 5rem rgba(0,0,0,.06);
  --line:1px solid var(--color-gray-light-2)
  
;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-gray-dark-1);
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-light)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

/*.*******************logo**************/
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

/*********Search***********/
.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-gray-light-2);
  width: 90%;
  border: none;
  border-radius: 100px;
  margin-right: -3.25rem;
  padding: .7rem 2rem;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.search__input:focus {
  width: 100%;
  background-color: var(--color-gray-light-3);
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-gray-light-4);
}

.search__input:focus + .search__button {
  background-color: var(--color-gray-light-2);
}

.search__button {
  border: none;
  color: var(--color-gray-dark-2);
  background-color: var(--color-gray-light-2);
  outline: none;
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  -webkit-transform: translate(2px);
          transform: translate(2px);
}

.search__icon {
  color: var(--color-gray-light-2);
}

/********navitems*********/
.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav > *:hover {
  background-color: var(--color-gray-light-2);
}

.user-nav__icon-box {
  position: relative;
}

.user-nav__icon {
  font-size: 20px;
  color: var(--color-gray-dark-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-nav__notification {
  font-size: .8rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: #fff;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav__user-photo {
  height: 3.75rem;
  border-radius: 100px;
  margin-right: 1rem;
}

/*.******************* side nav bar **************/
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
}

.side-nav__item {
  position: relative;
}

.side-nav__item:not(:last-child) {
  margin-bottom: .5rem;
}

.side-nav__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: var(--color-primary);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 2s;
  transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 2s;
  transition: transform 2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 2s;
}

.side-nav__item:hover::before, .side-nav__item--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.side-nav__item:active::before {
  background-color: var(--color-primary-light-1);
}

.side-nav__link:link, .side-nav__link:visited {
  color: var(--color-gray-light-1);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
}

.side-nav__link:link-span, .side-nav__link:visited-span {
  color: #fff;
}

.side-nav__icon {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 2rem;
  color: #fff;
}

/*.******************* legal **************/
.legal {
  font-size: 1.6rem;
  color: var(--color-gray-light-4);
  text-align: center;
  padding: 2.5rem;
}

/*.****************** gallery **************/
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__photo {
  width: 100%;
  display: block;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid var(--color-gray-light-1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.overview__heading {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
}

.overview__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.overview__icon-star, .overview__icon-location {
  width: 1.75rem;
  height: 1.7rem;
  color: var(--color-primary);
}

.overview__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  vertical-align: center;
}

.overview__icon-location {
  margin-right: .5rem;
}

.overview__rating {
  background-color: var(--color-primary);
  color: #fff;
  margin-left: 3rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  padding: 0 2.25rem;
}

.overview__rating-average {
  font-size: 2.25rem;
  font-weight: 300;
}

.overview__rating-count {
  font-size: .8rem;
  text-transform: uppercase;
}

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  outline: none;
}

.btn-inline:hover {
  color: var(--color-gray-dark-1);
}

.btn-inline:focus {
  outline: none;
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-gray-light-2);
  -webkit-box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem;
}

.header {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-gray-light-2);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  background-color: var(--color-gray-dark-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
  height: 120vh;
}

.hotel-view {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 80rem;
}

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-gray-light-1);
  border-bottom: var(--line);
}

.discription {
  font-size: 1.4rem;
  background-color: #fff;
  padding: 3rem;
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  margin-right: 4.5rem;
}

.user-reviews {
  background-color: orangered;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*# sourceMappingURL=main.css.map */