/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/*Resetting the css */
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;
$color-dark-grey: #777;

//Grid
$grid-width:85rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 3.75rem;
