.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 3rem;
  margin-top: -25vh;

  @include respond(tab-port) {
    margin-top: -20vh;
    padding: 25rem 1rem 20rem 1rem ;
  }
}

.section-features {
  padding: 20rem 3rem;
  background-image: linear-gradient(to right bottom,
          rgba($color-primary-light, 0.8),
          rgba($color-primary-dark, 0.8)),
  url("../../img/nat-4.jpg");
  background-size: cover;
  margin-top: -12rem;

  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 10rem 1rem;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 3rem 15rem 3rem;
  margin-top: -10rem;

  @include respond(tab-port) {
    padding: 20rem 1rem 10rem 1rem;
  }
}

.section-stories  {
  position: relative;
  padding: 15rem 3rem;

  @include respond(tab-port) {
    padding: 10rem 1rem;
  }
}

.section-book {
  padding: 15rem 3rem;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

  @include respond(tab-port) {
    padding: 10rem 1rem;
  }
}

.book {
  background-image: linear-gradient(105deg,
          rgba($color-white, .9) 0%,
          rgba($color-white, .9) 50%,
          transparent 50%),
          url("../img/nat-10.jpg");
  background-size: cover;
  border-radius: $border-radius-sm;
  box-shadow: $box-shadow-1;

  @include respond(tab-land) {
    background-image: linear-gradient(105deg,
            rgba($color-white, .9) 0%,
            rgba($color-white, .9) 70%,
            transparent 70%),
    url("../img/nat-10.jpg");
  }

  @include respond(tab-port) {
    background-image: linear-gradient(to right,
            rgba($color-white, .9) 0%,
            rgba($color-white, .9) 100%),
    url("../img/nat-10.jpg");
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }
}