

/*
COLORS

*/

:root {
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;
    --Grey-light-1: #faf9f9;
    --Grey-light-2: #f4f2f2;
    --Grey-light-3: #f0eeee;
    --Grey-light-4: #ccc;
    --Grey-dark-1: #333;
    --Grey-dark-2: #777;
    --Grey-dark-3: #999;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit,
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    color: var(--Grey-dark-2);
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    min-height: 100vh;
}
