/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/


// :root pseudo class is much like the html selector but with higher specificity
:root {
	// all the css variables will go here in this 'global parent' elem
	--color-primary: #eb2f64;
	--color-primary-light: #FF3366;
	--color-primary-dark: #BA265D;

	--color-grey-light-1: #faf9f9;
	--color-grey-light-2: #f4f2f2;
	--color-grey-light-3: #f0eeee;
	--color-grey-light-4: #ccc;

	--color-grey-dark-1: #333;
	--color-grey-dark-2: #777;
	--color-grey-dark-3: #999;

} 

// GLOBAL RESET SECTION: note how border-box is set on html then force the inheritence to EVERYTHING (on a bagel)
* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px, 10px\16px (16px being standard for browsers) = 62.5%;
}

body {
	font-family: 'Open Sans', sans1qt3  8qwe	fd-serif;
	font-weight: 400;
	line-height: 1.6;
	background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
	background-repeat: no-repeat;
	color: var(--color-grey-dark-2);
	//the MINIMUM height will be 100vh but if it needs to be bigger, it CAN be (not strictly enforced)
	min-height: 100vh;
}
// END GLOBAL RESET SECTION