.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 80px;
        width: 90%;
        transition: all 0.2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);

        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3)
    }
}


.user-nav {
    align-self: stretch;
    display: flex;
    align-items: center;
    color: var(--color-grey-dark-3);

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
        
    }

    &__notification {
        font-size: 0.8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}


.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transition: transform 0.2s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
        transform: scaleY(0);
    }

    &__item:hover::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
        
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        fill: currentColor;
        margin-right: 2rem;
    }
}

.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}

.gallery {
    display: flex;

    &__photo {
        width: 100%;
        display: block;
    }
}

.overview {
    display: flex;
    align-items: center;
    border-bottom: var(--line);
    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    }

    &__stars {
        margin-right: auto;
        display: flex;
    }

    &__icon-star, 
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }

    &__icon-location {
        margin-right: 0.5rem;
    }

    &__rating {
        background-color: var(--color-primary);
        color: #fff;
        margin-left: 3rem;
        padding: 0 2.25rem;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;
    }

    &__rating-count {
        font-size: 0.8rem;
        text-transform: uppercase;
    }
}

.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        color: var(--color-grey-dark-1);
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;

    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.01);
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25);
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}

.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);
    display: flex;
    flex-wrap: wrap;
    &__item {
        flex: 0 0 50%;
        margin-bottom: 0.7rem;
    }

    &__item::before {
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: 0.7rem;

        // OLDER BROWSERS
        // background-image: url("../img/SVG/chevron-thin-right.svg");
        // background-size: cover;

        // NEWER BROWSERS - MASKS
        background-color: var(--color-primary);
        -webkit-mask-image: url("../img/SVG/chevron-thin-right.svg");
        -webkit-mask-size: cover;
        mask-image: url("../img/SVG/chevron-thin-right.svg");
        mask-size: cover;
    }
}