///////////////////////////////////////////////
// LOGO
.logo {
	height: 3.25rem;
	margin-left: 3rem;
}

///////////////////////////////////////////////
// SEARCH
.search {
	flex: 0 0 40%;

	// NESTED FLEX!
	display: flex;
	align-items: center;
	justify-content: center;

	&__input {
		// input elem DOES NOT automatically inherit based on the global document for either of these:
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		background-color: var(--color-grey-light-2);
		border: none;
		padding: .7rem 2rem;
		border-radius: 110px;
		width: 90%;
		transition: all .2s;

		// this way btn will move on top of the input
		margin-right: -3.5rem;

		&:focus {
			outline: none;
			width: 100%;
			background-color: var(--color-grey-light-3);
		}

		// chrome and safari browsers
		&::-webkit-input-placeholder {
			font-weight: 100;
			color: var(--color-grey-light-4);
		}
	}

	// checkbox hack by selecting the adjacent elem (sibling) based on pseudo state
	&__input:focus + &__button {
		background-color: var(--color-grey-light-3);
	}

	&__button {
		border: none;
		background-color: var(--color-grey-light-2);

		&:focus {
			outline: none;
		}

		&:active {
			transform: translateY(2px);
		}
	}

	&__icon {
		height: 2rem;
		width: 2rem;

		// this declaration changes the actual SVG color
		fill: var(--color-grey-dark-3);
	}
}

///////////////////////////////////////////////
// USER NAVIGATION
.user-nav {

	// this over-rides the cross-axis centering we did in the .header class
	align-self: stretch;

	display: flex;
	align-items: center;

	// user nav AND all of the direct children
	& > * {
		padding: 0 2rem;
		cursor: pointer;
		height: 100%;

		display: flex;
		// aligns items along CROSS axis, which is usually vertically
		align-items: center;
	}

	& > *:hover {
		background-color: var(--color-grey-light-2);
	}

	&__icon-box {
		position: relative;
	}

	&__icon {
		height: 2.25rem;
		width: 2.25rem;
		color: var(--color-grey-dark-2);
	}

	&__notification {
		font-size: .8rem;
		height: 1.75rem;
		width: 1.75rem;
		background-color: var(--color-primary);
		border-radius: 50% ;
		color: #fff;
		position: absolute;
		top: 1.5rem;
		right: 1.1rem;

		//this is how I tried to center the little numbers in the notification bubbles AND I FUCKIN NAILED IT
		display: flex;
		justify-content: center;
		align-items: center;
		
	}

	&__user-photo {
		height: 3.75rem;
		width: 3.75rem;
		border-radius: 50%;
		margin-right: 1rem;
	}
}

///////////////////////////////////////////////
// SIDE NAVIGATION
.side-nav {
	font-size: 1.4rem;
	list-style: none;
	margin-top: 3.5rem;

	////////////////////////// ANIMATION FOR SIDE NAV
	// parent set to relative so psuedo is relative to it
	&__item {
		position: relative;

		// HOW TO: add margin to the bottom of ALL the items EXCEPT the last one
		&:not(:last-child) {
			margin-bottom: .5rem;

		}
	}

	// pseudo elem used for hover nav item animation
	&__item::before {
		// ALWAYS need content
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 3px;
		background-color: var(--color-primary);

		// set here in the "normal" state as 0
		transform: scaleY(0);
		//duration for anime
		// width makes anime full width, prev just a line to left of each ul
		transition: transform .2s,
					width .4s cubic-bezier(1,0,0,1) .2s,
					background-color .1s;

		// make anime full width, prev just a line to left of each ul
		width: 100%;

		// default is center, controls where anime begins
		// transform-origin: bottom;

	}

	&__item:hover::before,
	&__item--active::before {
		transform: scaleY(1);

		// make if for the ENTIRE ul, prev just a line to the left of each ul
		width: 100%;
	}

	&__item:active::before {
		background-color: (--color-primary-light);
	}
	
	&__link:link,
	&__link:visited {
		color: var(--color-grey-light-1);
		text-decoration: none;
		text-transform: uppercase;
		display: block;

		// padding: top/bottom left/right;
		padding: 1.5rem 3rem;

		// HOW TO: align icons with rows
		display: flex;
		align-items: center;

		position: relative;
		z-index: 10;
	}

	&__icon {
		// NOTE: usually size SVGs as SQUARES
		width: 1.75rem;
		height: 1.75rem;
		margin-right: 2rem;

		// currentColor is the current color being used or the PARENT (in this case, made --color-grey-light-1 as above ^^
		fill: currentColor;
	}
}

///////////////////////////////////////////////
// LEGAL

.legal {
	text-align: center;
	font-size: 1.2rem;
	color: var(--color-grey-light-4);
	padding: 2.5rem;
}

///////////////////////////////////////////////
// GALLERY

.gallery {
	display: flex;

	&__photo {
		width: 100%;
		display: block;
	}
}

///////////////////////////////////////////////
// HOTEL OVERVIEW

.overview {
	// good habit: set display to flex here in the parent before the &'s
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--color-grey-light-2);

	&__heading {
		font-size: 2.25rem;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 1.5rem 3rem;
	}

	&__stars {
		// to add a space in the middle this WORKS but also makes the elem HUGE
		// flex: 1;

		// HOW TO: give a GIANT SPACE between elems in flexbox, neat!!!! while only occupying the space it needs
		margin-right: auto;
		display: flex;
	}

	&__icon-star,
	&__icon-location {
		width: 1.75rem;
		height: 1.75rem;
		fill: var(--color-primary)
	}

	&__location {
		font-size: 1.2rem;
		display: flex;
		align-items: center;
	}

	&__icon-location {
		margin-right: .5rem;
	}

	&__rating {
		background-color: var(--color-primary);
		margin-left: 3rem;
		color: #fff;

		// HOW TO: strech all the way from top to bottom, overrides the align-items on line 279
		align-self: stretch;
		padding: 0 2.25rem;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__rating-count {
		text-transform: uppercase;
		font-size: .8rem;
	}
	
	&__rating-average {
		font-weight: 300;
		font-size: 2.25rem;
		margin-bottom: -.6rem;
	}
}

///////////////////////////////////////////////
// btn INLUNE

.btn-inline {
	border: none;
	color: var(--color-primary);
	font-size: inherit;
	border-bottom: 1px solid currentColor;
	padding-bottom: 2px;
	display: inline-block;
	background-color: transparent;
	cursor: pointer;
	transition: .2s;

	&:hover {
		color: var(--color-grey-dark-1);
	}

	&:focus {
		outline: none;

		//pulsate is the name of the animate, then speed and then duration
		animation: pulsate 1s infinite;
	}
}

@keyframes pulsate {
	// what happens at begiining NOTHING
	0% {
		transform: scale(1);
		box-shadow: none;
	}
	
	// what happens at MIDDLE gets bigger, and box shadow
	50% {
		transform: scale(1.05);
		box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
	}
	// what happens at
	100% {
		transform: scale(1);
		box-shadow: none;
	}

}