.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 2rem;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%;
}

.hotel-view {
  background-color: #fff;

  // TEST
  background-color: orangered;
  height: 80rem;
  flex: 1;
}