%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
}
.heading-2 {
  @extend %heading;
}
.heading-3 {
  @extend %heading;
}
.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: $color-grey-light-1
  }
  &--light {
    color: $color-grey-dark-1;
  }
}