$color-primary:#55c57a;
$color-primary-dark:#28b485;
$color-primary-light:#7ed56f;
$color-grey-dark:#777;
$color-white:white;
$color-black: black;


// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;