/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* BASIC RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 30px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
}

.header {
	height: 95vh;
	background-image: linear-gradient(
		to right bottom,
		rgba(126, 213, 111, 0.801),
		rgba(40, 180, 133, 0.809)),
		url(../img/hero.jpg);
	background-size: cover;
	background-position: top;

	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
/* background-size: cover has image adapt to viewport */
/* background-position: top image stays to top of container */