/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

:root {
    --light-green: rgba(126, 213, 111, 0.8);
    --medium-green: #55c57a;
    --dark-green: rgba(40, 180, 133, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
        var(--light-green),
        var(--dark-green)),
        url("../img/hero.jpg");
    background-size: cover;
    background-position: top;

    /*clip-path: polygon(x y, x y, x y, x y);*/
}