/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0; /* pixel*/
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px; /* will provide padding to whole page */
}

.header {
  height: 95vh; /* 95% of viewPort */
  background-image: linear-gradient(
      to right,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  /* wil try to fit in width box of viewport */
  background-position: top;
  /* will stick to the top of viewport but bottom part can crop*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);   Triangle  */
  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.logo:hover {
  animation: moveInRight 1s 1;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 1s;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 19px;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    transform: translate(0);
  }
}

.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn:active {
    transform: translateY(-1px)
}

.btn-white {
    background-color: #fff;
    color: #777;
}

