/* 
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
 */


 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.7;
   color: #777; 
 }

 