/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
font-family: "Lato", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.7;
color: #777;
padding: 30px;
}
.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom,
     #7ed56fb2,
     #28b485c5),
     url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}
.logo-box{
position: absolute;
top:40px;
left: 40px;
}
.logo{
 height: 35px;
 width: auto;
}
.text-box{
    position: absolute;
    top:40%;
    left:50%;
   transform: translate(-50%, -50%);
}
.heading-primary{
color:#fff;
text-transform: uppercase;  

}
.header-primary-main{
display: block;
font-size: 60px;
font-weight: 400;
letter-spacing: 35px;
}
.header-primary-sub{
display: block;
font-size: 20px;
font-weight:700;
letter-spacing: 17.4px;
}