@charset "UTF-8";
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-grey-dark-2);
  min-height: 100vh;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}
@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-1);
  display: flex;
  justify-content: space-between;
  height: 7rem;
  align-items: center;
}
@media only screen and (max-width: 31.25em) {
  .header {
    height: 11rem;
    flex-wrap: wrap;
    padding-bottom: 0;
  }
}

.content {
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .content {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}

.user-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  display: flex;
  flex: 0 0 40%;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 31.25em) {
  .search {
    order: 1;
    margin-top: 1rem;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  color: inherit;
  padding: 0.7rem 2rem;
  border-radius: 50rem;
  width: 90%;
  transition: all 0.2s;
  margin-right: -3.25rem;
}
.search__input:focus {
  outline: none;
  background-color: var(--color-grey-light-3);
  width: 100%;
}
@media only screen and (max-width: 31.25em) {
  .search__input:focus {
    background-color: var(--color-grey-light-2);
  }
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-light-4);
}
.search__button {
  border: none;
  background-color: transparent;
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}
.search__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-3);
}

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
}
.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.user-nav > *:hover {
  background-color: var(--color-grey-light-2);
}
.user-nav__icon-box {
  position: relative;
}
.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--color-grey-dark-2);
}
.user-nav__notification {
  font-size: 0.8rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: #fff;
  position: absolute;
  top: 1.5rem;
  right: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-nav__user-photo {
  margin-right: 0.5rem;
  height: 3.75rem;
  border-radius: 50%;
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
}
@media only screen and (max-width: 56.25em) {
  .side-nav {
    display: flex;
    margin: 0;
  }
}
.side-nav__item {
  position: relative;
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 56.25em) {
  .side-nav__item {
    flex: 1;
    margin-bottom: 0 !important;
    text-align: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .side-nav__item {
    flex-direction: column;
  }
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.2s, width 0.4s 0.2s cubic-bezier(1, 0, 0, 1), background-color 0.1s;
}
.side-nav__item:hover::before, .side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__item:active::before {
  background-color: var(--color-primary-light);
}
.side-nav__link:link, .side-nav__link:visited {
  color: var(--color-grey-light-1);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
}
@media only screen and (max-width: 37.5em) {
  .side-nav__link:link, .side-nav__link:visited {
    display: flex;
    padding: 1.5rem 0.5rem;
    flex-direction: column;
    align-items: center;
  }
}
.side-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: currentColor;
  margin-right: 2rem;
  position: relative;
  top: 0.3rem;
}
@media only screen and (max-width: 37.5em) {
  .side-nav__icon {
    margin-right: 0;
    margin-bottom: 0.8rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;
}
@media only screen and (max-width: 56.25em) {
  .legal {
    display: none;
  }
}

.gallery {
  display: flex;
}
.gallery__photo {
  width: 100%;
  display: block;
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);
}
@media only screen and (max-width: 37.5em) {
  .overview {
    flex-direction: column;
  }
}
.overview__heading {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 2rem 3rem;
}
.overview__stars {
  margin-right: auto;
  display: flex;
}
@media only screen and (max-width: 37.5em) {
  .overview__stars {
    margin-right: 0;
  }
}
.overview__icon-star, .overview__icon-location {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-primary);
}
.overview__location {
  font-size: 1.2rem;
  display: flex;
  align-self: stretch;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .overview__location {
    justify-content: space-between;
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .overview__location button {
    margin-right: 7.5rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .overview__location button {
    margin-right: 3rem;
  }
}
.overview__icon-location {
  margin-right: 0.5rem;
}
@media only screen and (max-width: 37.5em) {
  .overview__icon-location {
    margin-left: auto;
  }
}
.overview__rating {
  background-color: var(--color-primary);
  color: #fff;
  margin-left: 3rem;
  padding: 0 2.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
@media only screen and (max-width: 37.5em) {
  .overview__rating {
    width: 50%;
  }
}
.overview__rating-average {
  font-size: 2.25rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1px;
}
.overview__rating-count {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-inline span {
  margin-left: 3px;
  transition: margin-left 0.2s;
}
.btn-inline:hover {
  color: var(--color-grey-dark-1);
}
.btn-inline:hover span {
  margin-left: 8px;
}
.btn-inline:focus {
  outline: none;
  animation: pulsate 1s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
  font-size: 1.4rem;
  line-height: 2.5rem;
}
@media only screen and (max-width: 56.25em) {
  .detail {
    padding: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .detail {
    flex-direction: column;
  }
}

.description {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
}
@media only screen and (max-width: 56.25em) {
  .description {
    padding: 2rem;
    margin-right: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .description {
    width: 100%;
  }
}

.user-reviews {
  flex: 1;
}
@media only screen and (max-width: 37.5em) {
  .user-reviews {
    width: 100%;
    margin-top: 2rem;
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap;
}
.list__item {
  flex: 0 0 50%;
  margin-bottom: 0.7rem;
}
.list__item::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: 0.7rem;
  background-image: url("../img/chevron-thin-right.svg");
  background-size: cover;
}
@supports (-webkit-mask-image: url("../img/chevron-thin-right.svg")) or (mask-image: url("../img/chevron-thin-right.svg")) {
  .list__item::before {
    background-color: var(--color-primary);
    -webkit-mask-image: url("../img/chevron-thin-right.svg");
    -webkit-mask-size: cover;
    mask-image: url("../img/chevron-thin-right.svg");
    mask-size: cover;
    background-image: none;
  }
}

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center;
}
.recommend__friends {
  display: flex;
}
.recommend__count {
  margin-right: auto;
}
.recommend__photo {
  box-sizing: content-box;
  height: 4rem;
  width: 4rem;
  border: 0.4rem solid #fff;
  border-radius: 50%;
}
.recommend__photo:not(:last-of-type) {
  margin-right: -2rem;
}

.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 56.25em) {
  .review {
    padding: 2rem;
    margin-bottom: 3rem;
  }
}
.review__text {
  margin-bottom: 2rem;
  position: relative;
  z-index: 10;
}
.review__user {
  display: flex;
  align-items: center;
}
.review__photo {
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
}
.review__user-box {
  margin-left: 1rem;
}
.review__user-name {
  font-weight: bold;
  margin-right: 2rem;
}
.review__user-date {
  font-weight: 300;
}
.review__rating {
  margin-left: auto;
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-primary);
}
.review::before {
  position: absolute;
  top: -3rem;
  left: -1rem;
  font-size: 20rem;
  content: "“";
  color: var(--color-grey-light-1);
  font-family: sans-serif;
  line-height: 1;
}

.cta {
  padding: 5rem;
  text-align: center;
}
@media only screen and (max-width: 56.25em) {
  .cta {
    padding: 2.5rem;
  }
}
.cta__book-now {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  line-height: 3rem;
}

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  color: #fff;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.btn > * {
  transition: all 0.2s;
  height: 100%;
}
.btn__visible {
  display: inline-block;
  padding: 2rem 7.5rem;
}
.btn__invisible {
  display: inline-block;
  position: absolute;
  padding: 2rem 0;
  width: 100%;
  left: 0;
  top: -100%;
}
.btn:hover {
  background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
}
.btn:hover .btn__visible {
  transform: translateY(100%);
}
.btn:hover .btn__invisible {
  top: 0;
}
.btn:focus {
  outline: none;
  animation: pulsate 1s infinite;
}

/*# sourceMappingURL=style.comp.css.map */
