/*
primary:#eb2f64;
primary light: #FF3366;
primary dark: #BA265D;

gray light 1:#faf9f9;
gray light 2:#f4f2f2;
gray light 3:#f0eeee;
gray light 4:#ccc;

gray dark 1:#333;
gray dark 1:#777;
gray dark 1:#999;


*/
:root {
  --color-primary:#eb2f64;
  --color-primary-light:#FF3366;
  --color-primary-dark:#BA265D;
  --color-gray-light-1:#faf9f9;
  --color-gray-light-2:#f4f2f2;
  --color-gray-light-3:#f0eeee;
  --color-gray-light-4:#ccc;
  --color-gray-dark-1:#333;
  --color-gray-dark-2:#777;
  --color-gray-dark-3:#999;
  --shadow-dark:0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light:0 2rem 5rem rgba(0,0,0,.06);
  --line:1px solid var(--color-gray-light-2)
  
; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-gray-dark-1);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; }

/*.*******************logo**************/
.logo {
  height: 3.25rem;
  margin-left: 2rem; }

/*********Search***********/
.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .search {
      order: 1;
      flex: 0 0 100%;
      background-color: var(--color-gray-light-2); } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-gray-light-2);
    width: 90%;
    border: none;
    border-radius: 100px;
    margin-right: -3.25rem;
    padding: .7rem 2rem;
    outline: none;
    transition: all .2s; }
    .search__input:focus {
      width: 100%;
      background-color: var(--color-gray-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-gray-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-gray-light-2); }
  .search__button {
    border: none;
    color: var(--color-gray-dark-2);
    background-color: var(--color-gray-light-2);
    outline: none; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translate(2px); }
  .search__icon {
    color: var(--color-gray-light-2); }

/********navitems*********/
.user-nav {
  display: flex;
  align-self: stretch;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-gray-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    font-size: 20px;
    color: var(--color-gray-dark-2);
    display: flex; }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 100px;
    margin-right: 1rem; }

/*.******************* side nav bar **************/
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin: 0; } }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
  .side-nav__item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light-1); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-gray-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: 1.5rem .5rem; } }
    .side-nav__link:link-span, .side-nav__link:visited-span {
      color: #fff; }
  .side-nav__icon {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 2rem;
    color: #fff; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        margin-right: 0;
        margin-bottom: .7rem;
        width: 1.5rem;
        height: 1.5rem; } }

/*.******************* legal **************/
.legal {
  font-size: 1.6rem;
  color: var(--color-gray-light-4);
  text-align: center;
  padding: 2.5rem; }
  @media only screen and (max-width: 75em) {
    .legal {
      display: none; } }

/*.****************** gallery **************/
.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  border-bottom: 1px solid var(--color-gray-light-1);
  align-items: center;
  background-color: #fff; }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .overview__stars {
    display: flex;
    margin-right: auto; }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.7rem;
    color: var(--color-primary); }
  .overview__location {
    display: flex;
    font-size: 1.2rem;
    vertical-align: center; }
  .overview__icon-location {
    margin-right: .5rem; }
  .overview__rating {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    align-self: stretch;
    padding: 0 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating {
        padding: 0 1.5rem; } }
  .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating-average {
        font-size: 1.8rem; } }
  .overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .overview__rating-count {
        font-size: .5rem; } }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;
  outline: none; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left .2s; }
  .btn-inline:hover {
    color: var(--color-gray-dark-1); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

/*********************8 paragraph *************************/
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

/********************* list  *************************/
.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
  .list__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;
    background-color: var(--color-primary);
    -webkit-background-clip: text; }

/********************* Recommend  ***************************/
.recommend {
  font-size: 1.3rem;
  color: var(--color-gray-dark-3);
  display: flex;
  align-items: center; }
  .recommend__count {
    margin-right: auto; }
  .recommend__friends {
    display: flex; }
  .recommend__photo {
    box-sizing: content-box;
    border: 3px solid white;
    height: 4rem;
    width: 4rem;
    border-radius: 50%; }
    .recommend__photo:not(:last-child) {
      margin-right: -2rem; }

/********************* reviews  ***************************/
.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .review {
      padding: 2rem;
      margin-bottom: 3rem; } }
  .review__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .review__user-box {
    margin-right: auto; }
  .review__usaer-name {
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: .4rem; }
  .review__user-date {
    font-size: 1rem;
    color: var(--color-gray-dark-3); }
  .review__rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300; }
  .review::before {
    content: "\201c";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-gray-light-2);
    font-family: sans-serif;
    z-index: 1; }

/******************** cta  *************************/
.cta {
  padding: 3.5rem 0;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2.5rem 0; } }
  .cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-gray-light-2);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.header {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-gray-light-2); }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-wrap: wrap;
      height: 12rem;
      justify-content: space-between; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--color-gray-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%; }

.hotel-view {
  flex: 1; }

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-gray-light-1);
  border-bottom: var(--line); }
  @media only screen and (max-width: 56.25em) {
    .detail {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .detail {
      flex-direction: column; } }

.discription {
  background-color: #fff;
  padding: 3rem;
  box-shadow: var(--shadow-light);
  flex: 0 0 60%;
  margin-right: 4.5rem; }
  @media only screen and (max-width: 37.5em) {
    .discription {
      margin-right: 0;
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .discription {
      padding: 2rem;
      margin-right: 3rem; } }

.user-review {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

/******** Flight Menu  *****************/
.flights {
  display: flex;
  justify-content: space-around; }
  .flights__details {
    background-color: red; }
  .flights__names {
    background-color: orange; }
