*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5

  @include respond(big-desktop) { // width < 1800;
    font-size: 75%; // 1 rem = 12px; 12/16;
  }

  @include respond(tab-land) { // width < 1200;
    font-size: 56.25%; // 1 rem = 9px; 9/16;
  }

  @include respond(tab-port) { // width < 900
    font-size: 50%; // 1 rem = 8px; 8/16 = 50%
   }

}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
  box-sizing: border-box;
  margin: 0 auto;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
