.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    padding-left: 2rem;
    letter-spacing: 3.4rem;

    animation-name: moveInLeft;
    animation-duration: 1s;

    @include respond(phone) {
      letter-spacing:  1rem;
      font-size: 5rem ;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    padding-left: .5rem;
    letter-spacing: 1.6rem;

    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      letter-spacing:  .5rem;
    }
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .2);
  }

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}