.u-center-text {text-align: center !important; }

.u-margin-top-lg {margin-top: 8rem !important; }
.u-margin-top-xl {margin-top: 10rem !important; }

.u-margin-bottom-lg {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}
.u-margin-bottom-md {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom:  3rem !important;
  }
}
.u-margin-bottom-sm {margin-bottom: 1.5rem !important; }

.u-padding-x-sm {padding: 0 3rem !important; }