.u-center-text {text-align: center; }

.u-margin-top-lg {margin-top: 8rem; }
.u-margin-top-xl {margin-top: 10rem; }

.u-margin-bottom-lg {margin-bottom: 8rem; }
.u-margin-bottom-md {margin-bottom: 4rem; }
.u-margin-bottom-sm {margin-bottom: 1.5rem; }

.u-padding-x-sm {padding: 0 3rem; }