/* This file will contain styles specific to the home page of the application */
.section-about{
    //About section container
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh; /*header height(95vh)-polygon height till it was cut(75vh)*/
}
