.footer {
	background-color: $color-grey-dark-3;
	padding: 10rem 0;
	font-size: 1.4rem;

	@include respond(tab-port) {
		// MOST IMPORTANT BREAKPOINTS ARE 600PX AND 900PX
		padding: 8rem 0;
	}

	&__logo-box {
		text-align: center;
		margin-bottom: 8rem;

		@include respond(tab-port) {
			margin-bottom: 2rem;
		}
	}

	&__logo {
		width: 15rem;
		height: auto;
	}

	&__navigation {
		//grey line above the footer menu
		border-top: 1px solid $color-grey-light-2;
		padding-top: 2rem;

		// inline-block does NOT take up all available width, only what the content NEEDS
		display: inline-block;

		@include respond(phone) {
			width: 100%;
			text-align: center;
		}
	}

	&__list {
		list-style: none;
	}

	&__item {
		// good trick for horizonal ul/li s
		display: inline-block;

		&:not(:last-child) {
			margin-right: 1.5rem;
		}
	}

	&__link {

		&:link,
		&:visited {
			color: $color-grey-light-1;
			background-color: $color-grey-dark-3;
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
			transition: all .2s;
		}

		&:hover,
		&:active {
			color: $color-primary-light;
			box-shadow: 0 1rem 2rem rgba($color-black, .4);
			transform: rotate(2deg) scale(1.3);
		}
	}

	&__copyright {
		color: $color-grey-light-2;
		border-top: 1px solid $color-grey-light-2;
		width: 80%;
		padding-top: 2rem;
		float: right;

		@include respond(phone) {
			width: 100%;
			float: none;
		}
	}
}