.row{
    max-width: $grid-width;
    background-color:#eee;
    margin: 0 auto;
    

    &:not(last-child){
        margin-bottom:$gutter-vertical;
    }
    @include clearfix;

    [class^="col-"]{
        float:left;
        background-color: orangered;
        
        &:not(:last-child) {
            margin-right: $gutter-horizontal;
}
    }

    .col-1-of-2{
        width:  calc((100% - #{$gutter-horizontal}) / 2);     
    }
    .col-1-of-3{
        width: calc((100% - 2*#{$gutter-horizontal}) / 3);
    }
}


