.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom,
          rgba($color-primary-light, 0.8),
          rgba($color-primary-dark, 0.8)),
  url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

  &__logo-box * {
    backface-visibility: hidden;
  }

  &__logo {
    height: 3.5rem;
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__text-box {
    @include absoluteCenter;
    text-align: center;
  }
}
