.header {
	height: 95vh;
	background-image: linear-gradient(to right bottom,
			rgba($color-primary-light, 0.801),
			rgba($color-primary-dark, 0.809)),
		url(../img/hero.jpg);
	/*  ^^ background-size: cover has image adapt to viewport */
	/* background-position: top image stays to top of container */
	background-size: cover;
	background-position: top;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

	@include respond(phone) {
		clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
	}
	/* position: relative; here is the reference from where the child absolute counts from top and left  */
	&__logo-box {
		position: absolute;
		top: 4rem;
		left: 4rem;
	}

	&__logo {
		height: 3.5rem;
	}

	&__text-box {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 40%;
		left: 50%;
		text-align: center;
	}
}