body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-gray-dark;
  }

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    animation-fill-mode: both;
    margin-bottom: 5rem;
  
    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-delay: .5s;
      animation-timing-function: ease-out;
    }
    
    &--sub {
      display: block;
      font-size: 2.2rem,;
      font-weight: 400;
      letter-spacing: 1.75rem;
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-delay: .5s;
      animation-timing-function: ease-out;
    }
  
  }