@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
  Breakpoints:
  - Up to 600px width     Phone
  - Up to 900px width     Tablet portrait
  - Up to 1200px width    Tablet landscape
  - Up to 1800px width    avg desktop

$break arg choices:
 - phone
 - tab-port
 - tab-land
 - big-desktop
 */
@mixin respond($break) {
  @if $break == phone {
    @media only screen and (max-width: 37.5em) { // 600px
      @content
    }
  }

  @if $break == tab-port {
    @media only screen and (max-width: 56.25em) { // 900px
      @content
    }
  }

  @if $break == tab-land {
    @media  only screen and (max-width: 75em) { // 1200px
      @content
    }
  }

  @if $break == big-desktop {
    @media only screen and (max-width: 112.5em) { // 1800px
      @content
    }
  }
}

@mixin resolution($break) {
  @if $break == retina {
    @media only screen and (min-resolution: 192dpi) and (min-width: 600px) {
      @content
    }
  }
}

