// COLORS
$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-med: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-sm: 6rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;

// SHADOWS
$box-shadow-1: 0 1.5rem 4rem rgba(0, 0, 0, .15);

// BORDERS
$border-radius-sm: 3px;