// COLORS
$color-primary: #7ed56f;
$color-primary-light: #29a316;
$color-primary-dark: #28b485;

$color-gray-light-1: #f7f7f7;

$color-white: #fff;
$color-gray-dark: #777;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;