//colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-white: #fff;
$color-black: #000;

$color-gray-dark: #777;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #b4b4b4;

$color-gray-dark-1: #777;
$color-gray-dark-2: #999;


$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-terciary-light: #2998ff;
$color-terciary-dark: #5643fa;

//fonts
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;