/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.7;
  color: #777777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to bottom left,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  /* Cut elements with a specified shape */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  /* If the width is not directly specified,
    then the browser calculate it based on the
    height */
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;

  /* Determine whether or not the 'back' side of a transformed element
    is visible when facing the viewer. With an identity transform,
    the front side of an element faces the viewer */
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* Time until the animation start: animation-delay: 3s; 
    Number of times the animation will play: animation-iteration-count: 5;
    How the animation will progress over one cycle of its duration: animation-timing-function: ease-in; */
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  animation: moveInRight 1s ease-out; /* All the animations properties together */
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(
      -100px
    ); /* It can receive multiple parameters as translate and rotate at the same time */
  }

  /* 20% {
    opacity: 0.2;
    transform: translate(-800px, -50px);
  }

  40% {
    opacity: 0.4;
    transform: translate(-600px, 50px);
  }

  60% {
    opacity: 0.6;
    transform: translate(-400px, -50px);
  }

  80% {
    opacity: 0.8;
    transform: translate(-200px, 50px);
  } */

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
