.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    //this will cover the entire section while maintaining it's aspect ratio
    // it is similiar to background-size: cover;
    object-fit: cover;
  }
}