.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;
    

    &__side {
        color: white;
        font-size: 2rem;
        height: 50rem;
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);
            &-1 {
                background-image: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark);
            }
            
            
        }

    }
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }

}