.card {
	// FUNCTIONALITY

	//perspective MUST be on the parent
	// also, for perspective, the LOWER the value, the more dramatic it is
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	height: 52rem;

	&__side {
		font-size: 2rem;

		height: 50rem;
		transition: all .8s ease;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		backface-visibility: hidden;
		border-radius: 3px;

		//this is to keep the corners of the card rounded, which the image made squre again
		overflow: hidden;

		//props are x, y, blur, and color
		box-shadow: 0 1.5rem 40px rgba($color-black, .15);

		&--front {
			background-color: $color-white;
		}

		&--back {
			transform: rotateY(-180deg);

			&-1 {
				background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
			}
			&-2 {
				background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
			}
			&-3 {
				background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
			}
		}

		&-1 {
			//NOTE: for gradients, needs to be background-IMAGE, and then linear-gradient and the props are to right bottom, first color and second color
			background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
		}
		&-2 {
			//NOTE: for gradients, needs to be background-IMAGE, and then linear-gradient and the props are to right bottom, first color and second color
			background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
		}
		&-3 {
			//NOTE: for gradients, needs to be background-IMAGE, and then linear-gradient and the props are to right bottom, first color and second color
			background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
		}
	}
	
	
	
	&:hover &__side--front {
		transform: rotateY(180deg);
	}
	
	&:hover &__side--back {
		transform: rotateY(0);
	}


	// FRONT SIDE STYLING
	&__picture {
		background-size: cover;
		height: 23rem;
		// background-blend mode is blending the picture AND the orange gradient below...note the comman between the linnear gradient and the url for the pic
		background-blend-mode: screen;

		// params start from the top left corner with 0 0, then x direction y direction,
		// webkit is so it works in chrome
		-wekbkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

		 &--1 {
			background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
		 }

		 &--2 {
			background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
				url(../img/nat-6.jpg);
		 }

		 &--3 {
			background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
				url(../img/nat-7.jpg);
		 }
	}

	&__heading {
		font-size: 2.8rem;
		font-weight: 300;
		text-transform: uppercase;
		text-align: right;
		color: $color-white;
		position: absolute;
		top: 12rem;
		right: 2rem;
		width: 75%;
	}

	&__heading-span {
		padding: 1rem 1.5rem;

		// applies all the declarations we have in the selector to all of the boxes are created (just the above padding in this case)
		box-decoration-break: clone;
		// so it will work in chrome
		-webkit-box-decoration-break: clone;

		&--1 {
			background-image: linear-gradient(to right bottom,
			rgba($color-secondary-light, .85),
			rgba($color-secondary-dark, .85));
		}

		&--2 {
			background-image: linear-gradient(to right bottom,
			rgba($color-primary-light, .85),
			rgba($color-primary-dark, .85));
		}

		&--3 {
			background-image: linear-gradient(to right bottom,
			rgba($color-tertiary-light, .85),
			rgba($color-tertiary-dark, .85));
		}
	}

	&__details {

		ul {
			list-style: none;
			width: 80%;

			// poor man's CENTER a block elem within a block elem
			margin: 0 auto;

			li {
				text-align: center;
				font-size: 1.5rem;
				padding: 1rem;

				// AGAIN, the trick to give every UL a grey border at the bottom EXCEPT the last one
				&:not(:last-child) {
					border-bottom: 1px solid $color-grey-light-2;
				}
			}
		}
	}

	//FRONT SIDE STYLING
	&__cta {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		text-align: center;
	}

	&__price-box {
		text-align: center;
		margin-bottom: 8rem;
		color: $color-white
	}

	&__price-only {
		font-size: 1.4rem;
		text-transform: uppercase;
	}

	&__price-value {
		font-size: 6rem;
		font-weight: 100;
	}
}