.card {
  perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    color: white;
    font-size: 2rem;
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;

    &--front{
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1{
        background-image: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark);
      }
      &-2{
        background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
      }
      &-3{
        background-image: linear-gradient(to bottom right, $color-tertiary-light, $color-tertiary-dark);
      }
    }

  }


  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }
}
