.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2500;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  background-color: rgba($color-black, .8);


  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, .3);
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      line-height: 1;
      display: inline-block;
      text-decoration: none;

      &:hover {
        color: $color-primary;
      }
    }

  }

  &__content {
    @include absoluteCenter;

    background-color: $color-white;
    box-shadow: $box-shadow-1;
    border-radius: 3px;
    width: 75%;
    display: flex;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(.25);
    opacity: 0;
    transition: all .4s .2s;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__left {
    width: 33.333333%;
    height: inherit;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__right {
    width: 66.66666667%;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-port) {
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;

    @include respond(phone) {
      display: none;
    }

    &--1 {
      background-image: url("../img/nat-8.jpg");
    }

    &--2 {
      background-image: url("../img/nat-9.jpg");
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 4rem;
    -moz-column-gap: 4rem;
    column-gap: 4rem;
    -webkit-column-rule: 1px solid $color-grey-light-1;
    -moz-column-rule: 1px solid $color-grey-light-1;
    column-rule: 1px solid $color-grey-light-1;


    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    @include respond(phone) {
      column-count: 1;
      column-gap: 0;
    }
  }
}