.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, 0.8);
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &__content {
        @include absCenter;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
        border-radius: 3px;
        display: table;
        overflow: scroll;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
        transition: all 0.5s 0.2s;

        @include respond(tab-port) {
            width: 100%;
        }
    }

    &__left {
        width: 33.3333333%;
        display: table-cell;
        vertical-align: middle;

        @include respond(tab-port) {
            width: 100%;
            display: block;
        }
    }

    &__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tab-port) {
            width: 100%;
            display: block;
        }
    }

    &__img {
        display: block;
        width: 100%;

        @include respond(tab-port) {
            float: left;
            width: 50%;
            height: 15vh;
        }

    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-2;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    &:target {
        opacity: 1;
        visibility: visible
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2rem;
            right: 5rem;
            text-decoration: none;
            display: inline-block;
            transition: all 0.2s;
            font-size: 3rem;
        }

        &:hover {
            color: $color-primary;
        }
    }

    
}