.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .8);
  height: 100vh;
  width: 100vw;
  z-index: 2500;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      line-height: 1;
      display: inline-block;
      text-decoration: none;

      &:hover {
        color: $color-primary;
      }
    }

  }

  &__content {
    @include absoluteCenter;

    background-color: $color-white;
    box-shadow: $box-shadow-1;
    border-radius: 3px;
    width: 75%;
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(.25);
    opacity: 0;
    transition: all .4s .2s;
  }

  &__left {
    width: 33.333333%;
    display: table-cell;
  }

  &__right {
    width: 66.66666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 4rem;
    -moz-column-gap: 4rem;
    column-gap: 4rem;
    -webkit-column-rule: 1px solid $color-grey-light-1;
    -moz-column-rule: 1px solid $color-grey-light-1;
    column-rule: 1px solid $color-grey-light-1;


    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}